@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oxygen:wght@300;400;700&display=swap');

/* General styles*/
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
 
p{
    padding: none;
    margin: none;
}

.download__button{
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.info__button{
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 15px 35px;
}


/* Header */

.header{
    position: relative;
    width: 100%;
}

.header__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 62, 202, 0.7); /* Adjust the color and opacity */
    z-index: 1; /* Place it behind the image */
}

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    z-index: 2;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.intro__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 80px;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    right: 0;
    z-index: 2;
    padding-left: 5%;
    padding-right: 5%;
}

nav{
    width: 100%;
}

.nav ul{
    float: right;
}

.nav ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
}

.nav li a{
    text-decoration: none;
    color: rgb(221, 207, 188);
}

.nav li a:hover{
    color: white;
    cursor: pointer;
}
  
.intro{
    color: #F2F2F2;
}

.intro h1{
    font-size: 20px;
}

.intro p {
    font-size: 15px;
    line-height: 1.2;
}

/* About && Tools */
.about,
.tools{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.about__image,
.tools__image{
    width: 50%
}

.about__info,
.tools__info{
    padding: 10px;
    width: 50%;
}

.about__info h2,
.tools__info h2{
    font-family: 'Oxygen', sans-serif;
    text-align: left;
}

.about__info p,
.tools__info p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    text-align: justify;
}

/* Achievement */
.achievement{ 
  font-family: 'Inter', sans-serif;
}

.achievement__info{
    display: flex;
    flex-direction: row;
    color: rgb(15, 15, 108);
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: -25px;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.achievement__info div{
    padding: 10px;
    width: 80%;
}

.achievement__info h3{
    font-size: 20px;
    margin: 0;
}

.achievement__info p{
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}

.achievement,
.feedback{
    text-align: center;
    margin-top: 50px;
}

.achievement__heading,
.feedback__header{
    font-weight: 600;
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
}

.achievement__heading p,
.feedback__header p{
    color:antiquewhite;
    font-size: 10px;
}

.achievement__heading span,
.feedback__header span{
    display: block;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.achievement__info div:nth-child(2){
    border-right: 2px solid navy;
    border-left: 2px solid navy;
}

/* Advanced features */
.advanced__features,
.pricing{
    text-align: center;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}

.advanced__features--header p,
.pricing__header p{
    color:blueviolet;
    font-size: 15px;
    font-weight: 800;
}

.advanced__features--header h3{
    margin: 0 auto;
    width: 80%;
    color: navy;
    font-size: 15px;
}

.advanced__features--info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.advanced__features--info div{
    width: 100%;
    padding: 25px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 20px;
}

.advanced__features--info div img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 10px; /* Center image and add spacing */
    
}

.advanced__features--info p{
    font-size: 15px;
}

.advanced__features--info h3{
    color: navy;
    font-size: 15px;
    margin-top: 0;
}

.advanced__features--info p:not(:first-child){
    color: rgb(2, 2, 84);
}

/* Feedback */
.feedback{
    font-family: 'Inter', sans-serif;
}

.feedback__messages--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    text-align: center;
    margin-top: -20px;
}

.feedback__messages{
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 25px;
    text-align: justify;
    width: 280px;
}

.feedback__messages > p{
    font-size: 15px;
}

.feedback__client--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__client--info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -5px;
}

.feedback__client--info div{
    text-align: left;
    padding-left: 10px;
}

.feedback__client--info div h3{
    margin-bottom: 5px;
    font-size: 15px;
}

.feedback__client--info div p{
    margin-top: 0;
    font-size: 15px;
}

/* Pricing */
.pricing__container{
    display: flex;
    justify-content: center;
}

.pricing{
    text-align: center;
    margin-top: 5em;
    font-family: 'Inter', sans-serif;
}

.pricing__header p{
    color:blueviolet;
    font-size: 1rem;
    font-weight: 800;
}

.pricing__header h3{
    font-size: 1.5rem;
    text-align: center;
    /* margin: auto; */
    margin-top: 0;
    margin-bottom: 1.5em;
}

.pricing__container--item:nth-child(2){
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.pricing__container--item{
    margin: 0 10px;
    padding: 20px;
    width: 100%;
    padding: 10px 10px;
    position: relative;
}

.pricing__container--item h4{
    color: rgb(59, 10, 105);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}

.pricing__container--item p{
    font-size: 0.8rem;
    text-align: center;
}

.price{
    color: rgb(94, 23, 160);
    background-color: rgb(231, 227, 233);
    border-radius: 50%;
    font-size: 30px;
    font-weight: 600;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.pricing__container--item .standard__button{
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-bottom: -1em;
    margin-left: -3em;
    position: absolute;
    bottom: 0;
}

/* Footer */
.footer__container{
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.footer__container--interested{
    position: relative;
    text-align: center;
    width: 300px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 50px auto 10px;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

.footer__container--interested h3{
    color: darkblue;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__container--interested p{
    color: rgb(87, 87, 189);
}

.footer__container--interested button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blueviolet;
    color: white;
    padding-top: 50px;
    width: 100%;
    z-index: 1;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
}

.footer__links h4{
    font-size: 15px;
    margin-bottom: 0;
}

.footer__links ul{
    list-style-type: none;
    margin: 0; /* Add this line to remove margin */
    padding: 0;
}

.footer__links li a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
}

.footer__copyright--info{
    display: flex;
    flex-direction: column;
    border-top: 2px solid white;
    margin-top: 5px;
    width: 90%;
}

.footer__copyright--info p{
    font-size: 12px;
    margin: 5px 0 5px;
}


/* MEDIA QUERIES */
@media screen and (min-width:769px) and (max-width: 1024px){

    /* HEADER */
    .header__image {
        height: 400px;
    }

    .nav__container h2{
        font-size: 25px;
    }

    .nav__list li{
        font-size: 15px;
    }

    .intro__container{
        width: 50%;
        margin-top: 90px;
    }

    .intro h1{
        font-size: 28px;
    }

    .intro p{
        font-size: 18px;
    }

    .download__button{
        font-size: 15px;
        margin-top: 10px;
    }

    /* ABOUT & TOOLS */
    .about,
    .tools{
        flex-direction: row;
        gap: 5px;
    }

    .about__image,
    .tools__image{
        flex-basis: 50%;
    }

    /* ACHIEVEMENT */
    .achievement__info{
        width: 80%;
        padding: 10px;
    }

    .achievement__info h3{
        font-size: 28px;
    }

    .achievement__info p{
        font-size: 20px;
    }

    /* ADVANCED FEATURES */
    .advanced__features--header p{
        font-size: 15px;
    }

    .advanced__features--header h3{
        font-size: 25px;
    }

    .advanced__features--info{
        flex-direction: row;
        gap: 10px;
    }

    /* FEEDBACK */
    .feedback__messages--container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* PRICE */
    .pricing__container--item{
        width: 350px;
    }
    
    .pricing__container--item h4{
        font-size: 30px;
    }
    
    .price{
        font-size: 50px;
        width: 3em;
        height: 3em;
    }
    
    .pricing__container--item .standard__button{
        font-size: 20px;
        margin-top: -20px;
        margin-left: -65px;
        position: absolute;
        bottom: 0;
    }

    /* FOOTER */
    .footer__container--interested{
        width: 500px;
    }

    .footer__copyright--info{
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
        gap: 20px;
        padding: 20px 0 20px;
    }
    
}

@media screen and (min-width:1025px){
    
    /* HEADER */
    .header__image {
        height: 500px;
    }

    .nav__container{
        padding: 5px 140px 0 140px;
    }

    .nav__container h2{
        font-size: 30px;
    }

    .nav__list li{
        font-size: 18px;
    }

    .intro__container{
        width: 50%;
        padding: 5px 140px 0 140px;
    }

    .intro h1{
        font-size: 50px;
    }

    .intro p{
        font-size: 20px;
    }

    .download__button{
        font-size: 15px;
        margin-top: 15px;
    }
    

    /* ABOUT & TOOLS */
    .about,
    .tools{
        flex-direction: row;
        gap: 10px;
        padding: 50px 120px;
    }

    .about__image,
    .tools__image{
        flex-basis: 50%;
    }

    /* ACHIEVEMENT */
    .achievement__info{
        width: 65%;
        padding: 20px;
    }

    .achievement__info h3{
        font-size: 40px;
    }

    .achievement__info p{
        font-size: 30px;
    }

    /* ADVANCED FEATURES */
    .advanced__features{
        margin-top: 100px;
    }

    .advanced__features--info{
        display: grid;  
        grid-template-columns: repeat(10, 1fr);
    }

    .advanced__features--info div{
        padding: 30px;
    }

    .advanced__features--info div:nth-child(1){
        grid-row: 1/2;
        grid-column: 4/8;
    }
    
    .advanced__features--info div:nth-child(2){
        grid-row: 2/3;
        grid-column: 2/6;
    }
    
    .advanced__features--info div:nth-child(3){
        grid-row: 2/3;
        grid-column: 6/10;
    }

    .advanced__features--info div:nth-child(1) img{
        width: 30px;
        height: 50px;
    }
    
    .advanced__features--info div:nth-child(2) img{
        width: 50px;
        height: 50px;
        display: block;
        float: left;
        margin-right: 10px;
    }
    
    .advanced__features--info div:nth-child(3) img{
        width: 50px;
        height: 50px;
        float: right;
    }

    .advanced__features--header p{
        font-size: 15px;
    }

    .advanced__features--header h3{
        font-size: 25px;
    }

    .advanced__features--info{
        flex-direction: row;
        gap: 10px;
    }

    /* FEEDBACK */
    .feedback__messages--container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* PRICE */
    .pricing__container--item{
        width: 350px;
        padding: 30px 20px;
    }
    
    .pricing__container--item h4{
        font-size: 30px;
    }
    
    .price{
        font-size: 50px;
        width: 3em;
        height: 3em;
    }
    
    .pricing__container--item .standard__button{
        font-size: 20px;
        margin-top: -20px;
        margin-left: -65px;
        position: absolute;
        bottom: 0;
    }

    /* FOOTER */
    .footer__container--interested{
        width: 700px;
        padding: 10px 0;
        margin: 100px auto 50px;
    }

    .footer__container--interested h3{
        font-size: 35px;
        
    }

    .footer__links{
        gap: 20px;
        margin-bottom: 10px;
    }

    .footer__links h4{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .footer__links li a{
        font-size: 15px;
        line-height: 1.5;
        color: rgb(241, 235, 235);
    }

    .footer__copyright--info{
        flex-direction: row;
        justify-content: space-between;
        font-size: 35px;
        gap: 20px;
        width: 70%;
        padding: 20px 0 20px;
    }

    .footer__copyright--info p{
        font-size: 15px;
    }
    
}