/* General styles*/
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
 
p{
    padding: none;
    margin: none;
}

.download__button{
    padding: 15px 10px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.info__button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
}


/* Header */

.header{
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(135, 62, 202, 0.7); /* Adjust the color and opacity */
    z-index: 1; /* Place it behind the image */
}

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    z-index: 2;
    color: white;
    padding: 0 100px 0;
}

.intro__container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 50px 100px;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    z-index: 2;
    align-items: center;  
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
}

.nav ul{
    float: right;
}

.nav ul li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    color: antiquewhite;
}
  
.intro{
    color: #F2F2F2;
}

.intro h1{
    font-size: 38px;
}

.intro p {
    font-size: 15px;
    line-height: 1.5;
}

.header__image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 1;
}

.header__reviews{
    display: grid;
}

.header__reviews img{
    width: 100px;
    border-radius: 10%;
}

.first__review,
.second__review{
    display: flex;
}

.review__info{
    width: 300px;
    padding: 10px;
}

.review__stars .fas.fa-star {
    color: gold; /* Change to the desired color */
}

.review__genre--type{
    width: fit-content;
}

.review__genre--type p{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
}

/* About && Tools */
.about,
.tools{
    display: flex;
    
}

.about__image,
.tools__image{
    flex-basis: 50%;
}

.about__info,
.tools__info{
    flex-basis: 50%;
    padding: 40px 100px 20px 10px;
}

.about__info p{
    font-size: 15px;
}

/* Achievement */
.achievement,
.feedback{
    text-align: center;
    margin-top: 100px;
}

.achievement__heading,
.feedback__header{
    font-weight: 600;
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 100px;
}

.achievement__heading p,
.feedback__header p{
    color:antiquewhite;
    font-size: 10px;
}

.achievement__heading span,
.feedback__header span{
    display: block;
    color: white;
    font-size: 30px;
}

.achievement__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 600px;
    margin: auto;
    background-color: palegreen;
}

.achievement__info div:nth-child(2){
    border-right: 2px solid navy;
    border-left: 2px solid navy;
    padding-left: 20px;
    padding-right: 20px;
}

/* Advanced features */
.advanced__features,
.pricing{
    text-align: center;
    margin-top: 100px;
}

.advanced__features--header p,
.pricing__header p{
    color:blueviolet;
    font-size: 15px;
    font-weight: 800;
}

.advanced__features--header h3,
.pricing__header h3{
    font-size: 40px;
    margin-top: 0;
}

.advanced__features--info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.advanced__features--info div{
    width: 500px;
    padding: 5px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.advanced__features--info div:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}

/* Feedback */
.feedback__messages--container{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.feedback__messages{
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.feedback__messages--container div:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}

.feedback__client--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__client--info img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/* Pricing */
.pricing__container{
    display: flex;
    width: 1200px;
    margin: auto;
}

.pricing__container--item:nth-child(2){
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.pricing__container--item{
    padding: 20px;
}

/* Footer */

.footer__container--interested{
    text-align: center;
    width: 600px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.footer__container--interested button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__links li a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer__links li a{
    
    list-style-type: none;
}

.footer__copyright--info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 2px solid white;
}
