/* General styles*/
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
 
p{
    padding: none;
    margin: none;
}

.download__button{
    padding: 15px 10px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.info__button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
}


/* Header */

.header{
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(135, 62, 202, 0.7); /* Adjust the color and opacity */
    z-index: 1; /* Place it behind the image */
}

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    z-index: 2;
    color: white;
    padding: 0 100px 0;
}

.intro__container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 50px 100px;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 0; /* Align to the top of the header */
    left: 0;
    z-index: 2;
    align-items: center;  
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
}

.nav ul{
    float: right;
}

.nav ul li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    color: antiquewhite;
}
  
.intro{
    color: #F2F2F2;
}

.intro h1{
    font-size: 38px;
}

.intro p {
    font-size: 15px;
    line-height: 1.5;
}

.header__image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 1;
}

.header__reviews{
    display: grid;
}

.header__reviews img{
    width: 100px;
    border-radius: 10%;
}

.first__review,
.second__review{
    display: flex;
}

.review__info{
    width: 300px;
    padding: 10px;
}

.review__stars .fas.fa-star {
    color: gold; /* Change to the desired color */
}

.review__genre--type{
    width: fit-content;
}

.review__genre--type p{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
}

/* About */
.about{
    display: flex;
}